@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* Garante que o corpo ocupe a altura inteira da tela */
  display: flex; /* Usamos flexbox para centralizar o conteúdo */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

html {
  transition: background-color 0.3s, color 0.3s;
  height: 100%; /* Garante que o HTML ocupe 100% da altura */
}

/* Evita problemas de layout com margens indesejadas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}