.transactions-container {
    /* justify-content: center; */
    margin-top: 1rem;
    /* padding-top: 2rem; */
    /* margin-left: 15.2rem; */

    /* @media (max-width: 1925px) {}

    @media (max-width: 1536px) {}


    @media (max-width: 1375px) {}


    @media (max-width: 1280px) {}

    @media (max-width: 1075px) {
        margin-left: 8rem;
        flex-direction: column;
    }

    @media (max-width: 768px) {
        margin-left: 0;
    } */
}

.transactions-grid {
    margin-left: 16rem;
    /* width: 203rem; */
    /* height: 692px; */
    overflow: hidden;




}




.ag-theme-alpine-dark,
.ag-theme-balham-dark {
    --ag-background-color: var(--background);
    --ag-foreground-color: var(--foreground);
    --ag-header-background-color: #12193c;
    --ag-header-foreground-color: var(--foreground);
    --ag-row-hover-color: #1c2455;
    --ag-border-color: #2a3262;
    --ag-selected-row-background-color: #243169;
    --ag-header-cell-hover-background-color: #1b2550;
}

.ag-root-wrapper {
    border: none;
}