.home-container {
    width: 1200px;
    margin-left: 16rem;
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    padding: 1.5rem;


    @media (max-width: 1280px) {
        margin-left: 17rem;
        flex-direction: column;
        width: 60rem;
        padding: 1rem;
    }

    @media (max-width: 1024px) {
        margin-left: 20rem;
        flex-direction: column;
        width: 800px;
        padding: 1rem;
    }

    @media (max-width: 768px) {
        margin-left: 0;
        width: 100%;
    }
}


.transaction-container {
    max-height: 350px;
    overflow-y: auto;
    background-color: #12193c;
    /* azul escuro estilizado */
    color: var(--foreground);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    margin-top: 24px;
}


.transaction-container::-webkit-scrollbar-track {
    background: #2b2f45;
    /* mais escuro */
}

.transaction-container::-webkit-scrollbar-thumb {
    background: #4b5563;
}

.transaction-container::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}


section.bg-white {
    background-color: #12193c !important;
    color: var(--foreground);
}